CONFIG_LOG_DEFAULT_LEVEL_INFO=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y

CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_ESP_TASK_WDT_TIMEOUT_S=30

CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y
CONFIG_BT_NIMBLE_MAX_CONNECTIONS=1
CONFIG_BT_NIMBLE_ROLE_PERIPHERAL=y
CONFIG_BT_NIMBLE_ROLE_BROADCASTER=y

CONFIG_IOTMER_BLE_WIFI_PROV=y

CONFIG_IOTMER_WIFI_SSID=""
CONFIG_IOTMER_WIFI_PASSWORD=""

CONFIG_IOTMER_PROVISION_AUTH_CODE=""
CONFIG_IOTMER_WORKSPACE_ID=""
CONFIG_IOTMER_WORKSPACE_SLUG=""
CONFIG_IOTMER_TEMPLATE_ID=""
